body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}
.heading {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 25%);
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid;
  border-radius: 50px;
  padding: 30px;
  background-color: white;
}
.displays {
  font-size: 70px;
  font-family: monospace;
  font-weight: 700;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}
.controls {
  display: flex;
  flex-direction: column;
}
.controls button {
  font-size: 25px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;

  transition: all ease 0.5s;
}
.Startbtn {
  background-color: hsl(115, 100%, 40%);
}
.Startbtn:hover {
  background-color: hsl(115, 100%, 30%);
}
.Stopbtn {
  background-color: hsl(10, 90%, 50%);
}
.Stopbtn:hover {
  background-color: hsl(10, 90%, 40%);
}
.Resetbtn {
  background-color: hsl(205, 90%, 60%);
}
.Resetbtn:hover {
  background-color: hsl(205, 90%, 50%);
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .heading {
    font-size: 35px;
  }
  .displays {
    font-size: 37px;
  }
  .controls button {
    font-size: 20px;
  }
  .controls button {
    text-align: center;
  }
}
